# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
packages/
*.nupkg

# Publish output
publish/

# ASP.NET Core static web assets
**/staticwebassets/

# OS files
.DS_Store
Thumbs.db